@font-face {
    font-family: 'MyFont';
    src: url('/Fonts/Faster Stroker.otf') format('truetype'); /* Adjust path based on file location */
    font-weight: normal;
    font-style: normal;
}

.sam{
    font-family: 'MyFont', sans-serif; 
}

.home{
    background: url("../../../public/Telecommuting-pana (1).svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    
}

.image-1{
    animation: float 1s ease-in-out 2s infinite ;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }

  .button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;

    /* Smooth transition */
    transition: transform 2s cubic-bezier(0.25, 1, 0.5, 1);
    transform-origin: center;
}

.button:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
